.container{
    width: 320px;
    height: 320px;
    border: 2px solid lightgray;
    border-radius: 5px;
}

.line{
    height: 20px;
    margin: 10px;
}
.box
{
    margin: 10px;
    width: 150px;
    height: 150px;
  
}   

.box, .line{
    animation: pulse 1s infinite ease-in-out;
    -webkit-animation: pulse 1s infinite ease-in-out;
}
.container div:nth-child(2){
    width: 150px;
}
.container div:nth-child(3){
    width: 120px;
}
.container div:nth-child(4){
    width: 130px;
}
.container div:nth-child(5){
    width: 100px;
}
.container div:nth-child(6){
    width: 150px;
}
@keyframes pulse
{
    0%{
        background-color: rgba(165, 165, 165, .1);
    }
    50%{
        background-color: rgba(165, 165, 165, .3);
    }
    100%{
        background-color: rgba(165, 165, 165, .1);
    }
}
@-webkit-keyframes pulse
{
    0%{
        background-color: rgba(165, 165, 165, .1);
    }
    50%{
        background-color: rgba(165, 165, 165, .3);
    }
    100%{
        background-color: rgba(165, 165, 165, .1);
    } 
}